# Requirements for the demo notebooks
# Useful for MyBinder configuration

pandas
numpy
scipy
matplotlib
seaborn
nibabel
nilearn
nltools
nipype
hypertools
networkx
scikit-learn
pynv
nipype
fmriprep
pybids
