/* Put your custom CSS here */
.left {
    margin-left: 0px;
}

img[src*='#left'] {
    float: left;
}
img[src*='#right'] {
    float: right;
}
img[src*='#center'] {
    display: block;
    margin: auto;
}